[submodule "essential_linux/shape_proj_util"]
	path = essential_linux/shape_proj_util
	url = https://github.com/kaifengZheng/shape_proj_util.git
        ignore = untracked
[submodule "essential_linux_test/shape_proj_util"]
	path = essential_linux_test/shape_proj_util
	url = https://github.com/kaifengZheng/shape_proj_util.git
        ignore = untracked
[submodule "essential_linux_v2/shape_proj_util"]
	path = essential_linux_v2/shape_proj_util
	url = https://github.com/kaifengZheng/shape_proj_util.git
        ignore = untracked
[submodule "essential_linux_v2.5-bad_mutation/shape_proj_util"]
	path = essential_linux_v2.5-bad_mutation/shape_proj_util
	url = https://github.com/kaifengZheng/shape_proj_util.git
        ignore = untracked
[submodule "essential_linux_v3.0-accelerate-gaussian/shape_proj_util.git"]
        path = essential_linux_v3.0-accelerate-gaussian/shape_proj_util
	url = https://github.com/kaifengZheng/shape_proj_util.git
        ignore = untracked